<div class="card border-secondary mb-3">
  <div class="card-header d-flex justify-content-between align-items-centertext-letft">Clientes</div>
  <div class="card-body text-secondary">


<div class="my-2 align-start">
<button class="btn btn-outline-dark d-flex justify-content-between align-items-centertext-letft" type="button" [routerLink]="['/clients/form']">Create Client</button>
</div>

<div *ngIf="clientList.length == 0" class="alert alert-info">
  There are no records in the database!
</div>

    <table class="table table-striped table-bordered" *ngIf="clientList.length > 0">
      <thead>
        <tr class= "text-center">
          <th>id</th>
          <th>Name</th>
          <th>SurName</th>
          <th>Email</th>
          <th>Date</th>
          <th >Editar <i class="fas fa-edit cursor-pointer" title="Editar"></i></th>
          <th>Delete <i class="fa fa-trash cursor-pointer" title="Delete"></i></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let client of clientList |  paginate: { itemsPerPage: 5, currentPage: pages }" >


          <td><button type="button" [routerLink]="['/clients/profile', client.id]" class="btn btn-warning">{{client.id}}</button></td>
          <td>{{ client.name | uppercase }}</td>
          <td>{{ client.surname}}</td>
          <td>{{ client.email}}</td>
          <td>{{ client.createAt}}</td>
          <td>
             <button class=" btn btn-secondary" type="button" name="edit" [routerLink]="['/clients/form', client.id]">Edit</button>
          </td>
             <td>
            <button class=" btn btn-secondary" type="button" name="delete" (click)="delete(client)">Delete</button>

          </td>

        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
  </div>
</div>

