<div class="card border-secondary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Clients List</h5>

<div class="my-2 text-letft">
  <button class=" btn btn-rounded btn-dark" type="button" [routerLink]="['/clients/form']">Create Client</button>

</div>

    <table class="table table-bordered tabla-striped">
      <thead>
        <tr class= "text-center">
          <th>id</th>
          <th>Name</th>
          <th>SurName</th>
          <th>Email</th>
          <th>Date</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientList" class="text-center">
          <td>{{ client.id}}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.surname}}</td>
          <td>{{ client.email}}</td>
          <td>{{ client.createAt}}</td>
<button class=" btn btn-secondary" type="button" name="button" [routerLink]="['/clients/form', client.id]" >Edit</button>

        </tr>
      </tbody>
    </table>
  </div>
</div>

