<div class="card border-secondary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Clients List</h5>

<div class="my-2 text-letft">
  <button class=" btn btn-rounded btn-dark" type="button" [routerLink]="['/clients/form']">Create Client</button>

</div>

    <table class="table table-striped table-bordered ">
      <thead>
        <tr class= "text-center">
          <th>id</th>
          <th>Name</th>
          <th>SurName</th>
          <th>Email</th>
          <th>Date</th>
          <th>Editar</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientList" class="text-center">
          <td>{{ client.id}}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.surname}}</td>
          <td>{{ client.email}}</td>
          <td>{{ client.createAt}}</td>
          <td>
            <button class=" btn btn-secondary" type="button" name="edit" [routerLink]="['/clients/form', client.id]">Edit</button>
          </td>
             <td>
            <button class=" btn btn-secondary" type="button" name="delete" (click)="delete(client)">delete</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

