<div class="card border-primary text-center">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <form method="post">
      <div class="form-group col-sm-6">
        <input
          [(ngModel)]="user.username"
          type="text"
          class="form-control my-2"
          id="username"
          name="username"
          placeholder="Username"
          autofocus
          required
        />

        <input
          [(ngModel)]="user.password"
          type="password"
          class="form-control my-3"
          id="password"
          name="password"
          placeholder="Password"
          required
        />

        <input
          (click)="login()"
          type="submit"
          class="btn btn-lg btn-secondary btn-block"
          value="login"
        />
      </div>
    </form>
  </div>
</div>
